@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="StartSurvey">
    <p style="color:brown;font-size:large">Új Felmérés</p>
    X koordináta: <input id="XCoord" type="text" ><br>
    Y koordináta: <input id="YCoord" type="text" ><br>
    Hatókör: <input id="Radius" type="text"><br><br>
    <button id="SurveyButton" type="button">Felmérés</button> 
</div>
<br><br>
<div>Szóba jöhető bázisok:</div>
<div id="Bases"></div>
<button id="GetClosePicturesButton" type="button">Közeli</button>
<button id="GetFarPicturesButton" type="button">Távoli</button>
<br><br>
<div id="Map">Ide jön majd a térkép</div>


@section Scripts
{
   <script>
       jQuery('#Bases').load('@Url.Action("FilteredBases", "Base")?init=' + 0);
       jQuery('#SurveyButton').on('click', function (e)
       {
            var x = jQuery('#XCoord').val();
            var y = jQuery('#YCoord').val();
            var radius = jQuery('#Radius').val();
            if (x && y && radius)
            {
                jQuery('#Bases').load('@Url.Action("FilteredBases", "Base")?init=' + 1 + '&xCoord=' + x + '&yCoord=' + y + '&radius=' + radius);
            }
            else
            {
                alert("Nincs megadva adat!");
            }
       });
       jQuery('#GetClosePicturesButton').on('click', function (e) {
           var rows = $('#FilterTable tbody tr.notSelected').length;
           alert(rows);
       });
       var table = jQuery('#FilterTable');
       var rows = $('#FilterTable tbody tr.notSelected').length;
       alert(rows);
    </script>
        
}


